th,td {
            border: 1px solid;
            padding-left: 15px;
            padding-right: 15px ;
            text-align: center;
            border-spacing: 0px ;
            font-family: calibri;
        }
table{
            border: 1px solid;
            padding-left: 0px;
            padding-right: 0px ;
            text-align: center;
            border-spacing: 0px ;
            font-family: calibri;
            color: white;
            margin: auto;
            background-image: url("../img/background.png");
}

body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }