/*https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp*/
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #950606;
  position: fixed;
  height: 98.3%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #FFFFE3;
  padding: 16px;
  text-decoration: none;
  font-family: Calibri;
}

/* Active/current link */
.sidebar a.active {
  background-color: #069494;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #069494;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 960px;
  margin: auto;
  padding: 0px;
  font-family: Calibri;
  text-align: center;

}

div.contact {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 960px;
  margin: auto;
  padding: 0px;
  font-family: Calibri;
  text-align: left;

}

div.diet_content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 960px;
  margin: auto;
  padding: 0px;
  font-family: Calibri;
  text-align: Left;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* footer styling */
.footer {
  background-color: #950606;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFFFE3;
  text-align: center;
}
html{
  background-color: #FFFFE3;
}
