
.icon-home:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-lifebuoy:before { content: '\e804'; } /* '' */
.icon-t-shirt:before { content: '\e805'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
